.DS_Store
.bak

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Logging
*.log

.hg
.hgignore

bizkaisense_sql/bizkaisense/database_config.py
bizkaisense.sublime-project
bizkaisense.sublime-workspace
bizkaisense_sql/bizkaisense_prod.ttl
