{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
<h1 id="centered"><small>{% trans "API" %}</small></h1>
<p>
{% blocktrans with '<a href="http://helheim.deusto.es/euskalsense/sparql">http://helheim.deusto.es/euskalsense/sparql</a>' as url and 'http://helheim.deusto.es/euskalsense/sparql?query=SPARQL_QUERY' as query %} 
Data can be queried programatically through the SPARQL endpoint at {{ url }}. The syntax is the following:
<div class="well">
 {{ query }}
</div>
{% endblocktrans %}
</p>

<h1 id="centered"><small>{% trans "Source Code" %}</small></h1>
<a href="https://github.com/memaldi/bizkaisense" target="_blank"><img src="{{ STATIC_PREFIX }}images/github-icon.png" width="25/"> https://github.com/memaldi/bizkaisense</a>

<h1 id="centered"><small>{% trans "Data sources" %}</small></h1>
{% blocktrans with '<a href="http://opendata.euskadi.net/" target="_blank">' as start_url and '</a>' as end_url %}
Source data extracted from {{ start_url }} Open Data Euskadi {{ end_url }}.
{% endblocktrans %}

<h1 id="centered"><small>{% trans "Data model" %}</small></h1>
<p>
{% blocktrans with '<a href="http://ceur-ws.org/Vol-904/paper7.pdf" target="_blank">PDF</a>' as paper_url %}
Data extraction process and data model are described on the following paper ({{ paper_url }}):
{% endblocktrans %}
</p> <blockquote>
  <p>Semantic Annotations for Sensor Open Data</p>
  <small>Mikel Emaldi, Jon Lázaro, Unai Aguilera, Oscar Peña, Diego López-de-Ipiña</small>
  <small>Proceedings of the 5th International Workshop on Semantic Sensor Networks (in 11th International Semantic Web Conference 2012) (Boston - EEUU)</small>
</blockquote>

{% endblock %}

{% block scripts %}
<script>
$('#tit5').addClass('active');
</script>
{% endblock %}
