{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}

{% block content %}
  <!--h1>DOWN FOR MAINTENANCE</h1>
  <h3>Sorry for the inconvenience</h3-->
  <h1 id="centered"><small>{% trans "Air quality monitoring stations and drinking water quality measurements" %}</small></h1>
  <section>
  	<div>
		{% trans "In this map you can find the air quality monitoring stations from Basque Country and the measurements done to ensure the quality of the drinking water." %}<br/>
		{% trans "Click on each marker to find the data about air or drinking water quality:" %}<br/><br/>
	    	<div id="map_canvas"></div>
	<br />
  </section>
{% endblock %}

{% block scripts %}
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
    function init() {
      Proj4js.defs["EPSG:23030"] = "+proj=utm +zone=30 +ellps=intl +towgs84=-131,-100.3,-163.4,-1.244,-0.020,-1.144,9.39 +units=m +no_defs";
      Proj4js.defs["EPSG:4258"] = "+proj=longlat +ellps=GRS80 +no_defs";
      var measures = [
        {"type": "SO2", "max": 125},
        {"type": "NO2", "max": 200},
        {"type": "PM10", "max": 50},
        {"type": "CO", "max": 10000},
        {"type": "O3", "max": 180} ];

      var map = new OpenLayers.Map("map_canvas");
      var mapnik         = new OpenLayers.Layer.OSM({"sphericalMercator": true});
      var wgsProjection  = new OpenLayers.Projection("EPSG:4326");    // WGS 1984 Projection
      var smProjection   = new OpenLayers.Projection("EPSG:900913");  // Spherical Mercator Projection
      var utmProjection  = new OpenLayers.Projection("EPSG:23030");   // UTM Projection
      var newProjection  = new OpenLayers.Projection("EPSG:4258");   // UTM Projection

      var position       = new OpenLayers.LonLat(-2.5, 43).transform(wgsProjection, smProjection);
      var zoom           = 9;

      map.addLayer(mapnik);
      map.setCenter(position, zoom );

      ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

      var testData = { "max": 0, "data": []};

      var size = new OpenLayers.Size(32,37);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('{{ STATIC_PREFIX }}images/wind.png', size, offset);

      var markers = new OpenLayers.Layer.Markers( "Estaciones" );

      //disable the autosize for the purpose of our matrix
      OpenLayers.Popup.FramedCloud.prototype.autoSize = false;

      AutoSizeFramedCloud = OpenLayers.Class(OpenLayers.Popup.FramedCloud, { 'autoSize': true });

      {% for station in stations %}
        var contentString =
          '<div>' +
            '<h4>{{ station.name }}</h4>' +
            '<a href="/euskalsense/station/{{ station.id }}">{% trans "Show details" %}</a><br />' +
            '{% trans "More information in" %} <a href="{{ station.url }}" target="_blank">{% trans "its webpage" %}</a>.<br />' +
            '<a href="{{ station.uri }}" target="_blank"><figure><img src="{{ STATIC_PREFIX }}images/rdf.png" width="30"/></figure></a>'.replace('bizkaisense', 'euskalsense') +
          '</div>';

        testData.data.push({ "lat": {{ station.lat }}, "lon": {{ station.lng }}});

        var ll = new OpenLayers.LonLat({{ station.lng }}, {{ station.lat }}).transform( wgsProjection, smProjection);
        var popupClass = AutoSizeFramedCloud;
        var popupContentHTML = contentString;

        var feature = new OpenLayers.Feature(markers, ll);
        feature.closeBox = true;
        feature.popupClass = popupClass;
        feature.data.popupContentHTML = popupContentHTML;
        feature.data.overflow = "auto";

        feature.data.icon = new OpenLayers.Icon('{{ STATIC_PREFIX }}/images/wind.png', size, offset);

        var marker = feature.createMarker();
        marker.defaultIcon = icon.clone();

        var markerClick = function (evt) {
            if (this.popup == null) {
                this.popup = this.createPopup(this.closeBox);
                map.addPopup(this.popup);
                this.popup.show();
            } else {
                this.popup.toggle();
            }
            currentPopup = this.popup;
            OpenLayers.Event.stop(evt);
        };
        marker.events.register("mousedown", feature, markerClick);

        markers.addMarker(marker);
      {% endfor %}

      <!-- Water stations -->
      {% for ws in water_sources %}
        var contentString =
          '<div>' +
            '<h4>{{ ws.zona }} ({{ ws.captacion }})</h4>' +
            '<a href="/euskalsense/water/{{ ws.id }}">{% trans "Show details" %}</a><br />' +
          '</div>';

        testData.data.push({ "lat": {{ ws.lat }}, "lon": {{ ws.lng }}});
        var ll;
        if ({{ ws.lat }} > 100) {
          console.log({{ws.lat}} + " - " + {{ws.lng}});
          ll = new OpenLayers.LonLat({{ ws.lat }}, {{ ws.lng }}).transform(utmProjection, smProjection);
        }
        else {
           ll = new OpenLayers.LonLat({{ ws.lng }}, {{ ws.lat }}).transform(wgsProjection, smProjection);
        }
        var popupClass = AutoSizeFramedCloud;
        var popupContentHTML = contentString;

        var feature = new OpenLayers.Feature(markers, ll);
        feature.closeBox = true;
        feature.popupClass = popupClass;
        feature.data.popupContentHTML = popupContentHTML;
        feature.data.overflow = "auto";

        feature.data.icon = new OpenLayers.Icon('{{ STATIC_PREFIX }}/images/waterdrop.png', size, offset);

        var marker = feature.createMarker();
        marker.defaultIcon = icon.clone();

        var markerClick = function (evt) {
            if (this.popup == null) {
                this.popup = this.createPopup(this.closeBox);
                map.addPopup(this.popup);
                this.popup.show();
            } else {
                this.popup.toggle();
            }
            currentPopup = this.popup;
            OpenLayers.Event.stop(evt);
        };
        marker.events.register("mousedown", feature, markerClick);

        markers.addMarker(marker);
      {% endfor %}

      var transformedTestData = { "max": testData.max , "data": [] };
      var data = testData.data;
      var datalen = data.length;
      var nudata = [];

      while(datalen--) {
        nudata.push( {
          "lonlat": new OpenLayers.LonLat(data[datalen].lon, data[datalen].lat),
        });

        transformedTestData.data = nudata;
      };

      map.addLayer(markers);
    };
  </script>

<script>
$('#tit1').addClass('active');
</script>
{% endblock %}
