{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}
    <h1>{{ zona }}</h1>
    <form class="form-inline" method="post">{% csrf_token %}
        <label class="control-label" for="parametro"><b>Parametro</b> </label>
        <select name="parametro" id="parametro">
            {% for parametro in parametros %}
                {% if parametro.0 == parametro_select.0 %}
                    <option value="{{parametro.0}}" selected="selected">{{ parametro.1 }}</option>
                {% else %}
                    <option value="{{parametro.0}}">{{ parametro.1 }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" class="btn" value="Submit" />
    </form>
    <table class="table table-striped">
        <thead>
            <tr><th colspan="8">{{parametro_select.1}}</th>
            </tr>
            <tr>
                <th>Fecha</th>
                <th>Municipio</th>
                <th>Punto de muestreo</th>
                <th>Tipo de punto</th>
                <th>Laboratorio</th>
                <th>Motivo</th>
                <th>Calificación</th>
                <th>Resultado ({{ unidad }})</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
                <tr>
                    <td>{{sample.fecha}}</td>
                    <td>{{ sample.municipio|lower|capfirst }}</td>
                    <td>{{ sample.punto_muestreo }}</td>
                    {% if sample.tipo_punto == None %}
                        <td>-</td>
                    {% else %}
                        <td>{{ sample.tipo_punto }}</td>
                    {% endif %}
                    <td>{{ sample.laboratorio|lower|capfirst }}</td>
                    <td>{{ sample.motivo }}</td>
                    <td>{{ sample.calificacion }}</td>
                    <td>{{ sample.resultado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}